<div class="deviceform">
	<div class="container deviceform-container">
		<form method=post action="https://crm.eyesafe.com/handleform">
			<input type="hidden" name="redirect" value="https://shop.eyesafe.com/device-thank-you">
			<input type="hidden" name="source" value="deviceform">
			<h3>Don't see your device?</h3>
			<p>Tell us what phone, tablet, laptop or monitor you have, and we'll get in touch:</p>
			<div class="deviceform-input">
				<input name="device" placeholder="Your Device (e.g. Apple - iPhone 12 Pro)">
			</div>
			<div class="deviceform-input">
				<input name="email" placeholder="Your email">
			</div>
			<input type="submit" class="deviceform-submit" value="SUBMIT">
		</form>
	</div>
</div>
